body {
    font: 24px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    background-image: url("101304060-72ff5b00-380d-11eb-8c58-a3172d791c9c.jpeg");
    background-repeat: round;
    overflow: hidden;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
    color: white;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background-color: #e297ff57;
    border: .2px solid rgba(255, 255, 255, 0.606);
    margin: 10px;
    float: left;
    color: white;
    font-size: 74px;
    font-weight: bold;
    line-height: 34px;
    height: 140px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 140px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50vh;
    transform: translateY(-50%); 
  }
  
  .game-info {
    margin-left: 20px;
  }

  button{
    text-decoration: none;
    border: .2px solid rgba(255, 255, 255, 0.606);
    border-radius: 3px;
    padding: 6px;
    background-color: #e297ff57;
    color: white;
  }
  

  .status{
    margin-left: 450px;
    font-size: 30px;
    margin-bottom: -50px;
    height: 25px;
  }